<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.screen.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/oer_remix_icon4"
        android:label="@string/app_name" >
        <activity
            android:name="com.screen.activity.MainMenuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.screen.activity.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:parentActivityName="com.screen.activity.MainMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.screen.activity.MainMenuActivity" />
        </activity>
        <activity
            android:name="com.screen.activity.InfoscreenActivity"
            android:label="@string/title_activity_infoscreen"
            android:screenOrientation="portrait"
            android:parentActivityName="com.screen.activity.MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.screen.activity.MainMenuActivity" />
        </activity>
        <activity
            android:name="com.screen.activity.GamePartTwoActivity"
            android:label="@string/title_activity_game2"
            android:parentActivityName="com.screen.activity.FullscreenActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.screen.activity.FullscreenActivity" />
        </activity>
        <activity
            android:name="com.screen.activity.WrongActivity"
            android:label="@string/title_activity_wrong"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.screen.activity.RulesActivity"
            android:label="@string/title_activity_rules"
	        android:screenOrientation="portrait"
            android:parentActivityName="com.screen.activity.MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.screen.activity.MainMenuActivity" />
        </activity>
    </application>

</manifest>